---
import Layout from "../layouts/Main.astro";
import Project from "../components/Project.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <div class="flex flex-col gap-4">
    {
      Array(3)
        .fill(true)
        .map((_) => <Project />)
    }
  </div>
</Layout>
