---
import Layout from "../layouts/Main.astro";
---

<Layout>
  <div>
    <div class="bg-background rounded p-2 flex gap-4">
      <div class="h-10 w-10 overflow-hidden rounded-full">
        <img
          class="w-full h-full"
          src="https://cdn.discordapp.com/avatars/249492401519984640/44cdac697636a32d786e38b1deeb21fe.webp?size=100"
        />
      </div>
      <div>
        <span class="flex gap-2">
          <span class="font-bold text-sky-400">Jacek</span>
          <span class="text-xs text-muted self-center">08/25/2023 11:47 PM</span
          >
        </span>
        <p>shouldnt you get a job?</p>
      </div>
    </div>
  </div>
</Layout>
