---
import type { keyof } from "valibot";
import RedoitPojectImage from "../assets/images/redoit-project/redoit-ss-01.png";
import LibrereadProjectImage from "../assets/images/03.png";
import Project from "../components/Project.astro";
import Layout from "../layouts/Main.astro";

const projectData = [
  {
    title: "Redoit",
    description: `REDOIT! is a habit tracking app that helps you reach your goals by creating and tracking positive habits.`,
    image: RedoitPojectImage,
    url: "/project/redoit",
    openInNewTab: false,
  },
  {
    title: "librereads",
    description: `A privacy respecting alternative front-end for Goodreads.`,
    image: LibrereadProjectImage,
    url: "https://github.com/lmssiehdev/librereads",
    openInNewTab: true,
  },
  // {
  //   title: "anyone can cook",
  //   description: `Encouraging home cooks to share their recipes within the Kitchen Stories community.`,
  //   image:
  //     "https://assets-global.website-files.com/5e0e761a473c7693458bb389/5fecd63f148d16276a9e05ce_cover-poll.jpg",
  // },
] as const;

// TODO: find a better
export type ProjectData = (typeof projectData)[0];
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage="/blog-placeholder-about.jpg"
>
  <div>
    <h2 class="text-xl font-medium mt-5 mb-10">My work</h2>
    <div class="flex flex-col gap-4 relative">
      {projectData.map((projectInfo) => <Project data={projectInfo} />)}
    </div>
  </div>
</Layout>
