<div
  class="border-background border-l-4 p-4 bg-foreground rounded overflow-hidden"
>
  <div>
    <a href="https://redoit.app/" target="_blank" class="font-semibold"
      >lmssieh - portfolio</a
    >
  </div>
  <p class="text-sm mt-4 opacity-80">
    REDOIT! is a habit tracking app that helps you reach your goals by creating
    and tracking positive habits.
  </p>
  <div class="flex h-full overflow-hidden max-h-[250px] mt-4">
    <img
      class="rounded-sm max-w-full max-h-full object-cover aspect-[400/215]"
      src="https://images-ext-1.discordapp.net/external/0X342NEAHUVnK0ju9A6VpBQOhIiU2lMoI-14o8HuV6M/https/lmssieh.com/placeholder-social.png?width=500&height=268"
    />
  </div>
</div>
