---
import { Image } from "astro:assets";
import type { ProjectData } from "../pages/work.astro";
const { data } = Astro.props as { data: ProjectData };

const { image, title, description, url, openInNewTab } = data;
---

<div
  class="border-background border-l-4 p-4 bg-foreground rounded overflow-hidden flex flex-col gap-4 shadow-md"
>
  <div class="flex overflow-hidden max-h-[350px] h-[300px]">
    <Image
      src={image}
      alt=""
      class="rounded-sm max-w-full max-h-full object-cover aspect-[400/215] object-left-top hover:object-left-bottom duration-500"
      height={"2000"}
      width={"2000"}
    />
  </div>
  <div class="flex flex-col gap-2">
    <div>
      <a href={url} target={openInNewTab ? "_blank" : undefined} class="text-xl"
        >{title}</a
      >
    </div>
    <p class="text-gray-200">
      {description}
    </p>
    <div class="text-muted text-sm">
      <div>Product Development · 2022</div>
    </div>
  </div>
</div>
