---
import { ViewTransitions } from "astro:transitions";
import { Image } from "astro:assets";
import clsx from "clsx";
import ProfileImage from "../assets/images/profile.jpeg";
import BaseHead from "../components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import "@fontsource-variable/work-sans";
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body
    class="bg-foreground text-primary flex justify-center py-28 scrollbar-thin scrollbar-thumb-darker scrollbar-track-black/20 scrollbar-thumb-rounded-md"
  >
    <main
      class="max-w-xl w-full bg-background rounded overflow-hidden shadow-xl"
    >
      <header class="min-h-[106px] bg-[#fffff0] relative mb-14">
        <div class="realtive" transition:persist>
          <div
            class="h-[120px] w-[120px] bg-background rounded-full overflow-hidden flex items-center justify-center absolute top-[30px] left-[22px] right-0"
          >
            <div class="w-[90%] h-[90%] rounded-full overflow-hidden">
              <Image
                class="h-full w-full"
                src={ProfileImage}
                alt="profile pic"
              />
            </div>
          </div>
        </div>
      </header>
      <div class="m-4 p-3 bg-black/50 rounded">
        <div>
          <div>
            <div class="font-semibold text-lg">lmssieh</div>
            <!-- <div class="text-muted">lmssieh#0000</div> -->
          </div>
          <div class="my-5">
            <ul
              class="flex gap-8 text-center text-sm border-b border-slate-200/20"
            >
              <li
                class={clsx(" flex-1 ", {
                  "border-b-2": currentPath === "/" ? true : false,
                })}
              >
                <a class="pb-4 cursor-pointer inline-block" href="/">About</a>
              </li>
              <li
                class={clsx(" flex-1 ", {
                  "border-b-2": currentPath.startsWith("/work"),
                })}
              >
                <a class="pb-4 cursor-pointer inline-block" href="/work">Work</a
                >
              </li>
              <li
                class={clsx(" flex-1 ", {
                  "border-b-2": currentPath.startsWith("/blog"),
                })}
              >
                <a class="pb-4 cursor-pointer inline-block" href="/blog">Blog</a
                >
              </li>
              <!-- <li
                class={clsx(" flex-1 ", {
                  "border-b-2": currentPath === "/guest-book" ? true : false,
                })}
              >
                <a class="pb-4 cursor-pointer inline-block" href="/guest-book"
                  >Guest Book</a
                >
              </li> -->
            </ul>
          </div>
        </div>
        <slot />
      </div>
    </main>
  </body>
</html>
