---
import { Icon } from "astro-iconify";
---

<div
  class="flex items-center leading-normal justify-between border border-slate-500/40 rounded-sm py-2 px-2 gap-4 hover:bg-foreground cursor-pointer text-sm font-[discord]"
>
  <div
    class="flex-1 whitespace-nowrap overflow-hidden text-ellipsis w-full text-lg"
  >
    <slot />
  </div>
  <Icon name="heroicons:arrow-up-right-20-solid" class="h-5 w-5" />
</div>
